AQC53Z_1006/nevjegykartya.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="nevjegykartyak">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nevjegykartya" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="nev"/>
              <xs:element name="ceg">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cim">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="iranyitoszam"/>
                          <xs:element type="xs:string" name="varos"/>
                          <xs:element type="xs:string" name="utca"/>
                          <xs:element type="xs:string" name="hazszam"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="nev"/>
                    <xs:element name="telefonszam">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="korzet" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="weblap"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="beosztas"/>
              <xs:element name="telefon">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="korzet" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="email"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="id" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>